<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>SubscriberTests.AttachmentTestsForSubscriber</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>j_delete_attachment</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>a_Select_Document_Category</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>i_Canceldelettion</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>b_Select_Document_Type</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>h_Edit_attach_new_File</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>d_Select_File</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>f_View_Attachments</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>c_Enter_name</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>e_Click_Attach</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>g_ClickEdit_attachment</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>start</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>end</td>
<td>&nbsp;</td></tr>
</table>
